<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">修改密码</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      修改密码
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: "default-form", html: { method: :put, role: "form" }) do |f| %>

        <div class="form-inputs">
          <%#= f.input :username, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: "off", required: false, label_html: {class: "col-sm-2"} %>
          <%= f.input :password_confirmation, required: false, label_html: {class: "col-sm-2"} %>
          <%= f.input :current_password, required: true, label_html: {class: "col-sm-2"} %>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-md-10">
            <%= f.button :submit, "保存", class: "btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





<% if nil %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<% end %>