<%= simple_form_for([:admin, @admin_news]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content, as: :kindeditor, input_html: {width: "60%", editor_id: "content"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
