<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">公告管理</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      公告管理
      <small>
        <i class="icon-double-angle-right"></i>
        <%= link_to '公告添加', new_admin_news_path, 'data-no-turbolink' => true %>
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">

    <table class="table">
      <thead>
        <tr>
          <th>标题</th>
          <th>发布时间</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @admin_news.each do |admin_news| %>
          <tr>
            <td><%= link_to truncate(admin_news.title, length: 30), news_path(admin_news), target: "_blank" %></td>
            <td><%= l admin_news.created_at.to_date %></td>
            <td>
            <%= link_to '浏览', news_path(admin_news), target: "_blank" %>
            <%= link_to '编辑', edit_admin_news_path(admin_news), 'data-no-turbolink' => true %>
            <%= link_to '删除', admin_news_path(admin_news), method: :delete, data: { confirm: '确认删除吗?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @admin_news %>

    </div>
  </div>
</div>


<% content_for :script do %>
  <script>
    $(function(){
      $("#admin_news").addClass("active")
    })
  </script>
<% end %>