<%= simple_form_for([:student, @reward_application]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :application_id, collection: Dict::Application.options, prompt: "请选择" %>
    <%= f.input :phone %>
    <%= f.input :xueyuan_id, collection: Dict::Xueyuan.options, prompt: "请选择" %>
    <%= f.input :content %>
    <%= f.input :rongyu %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
