<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">他人评优奖励申请</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      他人评优奖励申请
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>申请奖励</th>
          <th>状态</th>
          <th>联系方式</th>
          <th>学院</th>
          <th>申请说明</th>
          <th>获得荣誉</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @reward_applications.each do |reward_application| %>
          <tr>
            <td><%= reward_application.application.try(:name) %></td>
            <td><%= reward_application.state %></td>
            <td><%= reward_application.phone %></td>
            <td><%= reward_application.xueyuan.try(:name) %></td>
            <td><%= reward_application.content %></td>
            <td><%= reward_application.rongyu %></td>
            <td>
              <% if current_user.toupiao?(reward_application) %>
                已投票
              <% else %>
                <%= link_to '投票', "javascript:void(0);", class: "toupiao", value: reward_application.id %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @reward_applications %>

    </div>
  </div>
</div>


<% content_for :script do %>
  <script>
    $(function(){
      $("#other_student_reward_application").addClass("active")

      $(document).on("click", ".toupiao", function(){
        this_ele = $(this)
        id = this_ele.attr("value")
        $.post("/student/reward_applications/"+id+"/toupiao", {}, function(data){
          if(data["status"] == true){
            this_ele.replaceWith("已投票")
          }
        })
      })
    })
  </script>
<% end %>