<%= simple_form_for([:student, @student_score]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :category_id, collection: Dict::ScoreCategory.all, prompt: "请选择" %>
    <%= f.input :xueqi_id, collection: Dict::Xueqi.all, prompt: "请选择", wrapper_html: {id: "wrapper_score_xueqi_id", style: @student_score.xueqi? ? "display: inline;" : "display: none;"} %>
    <%= f.input :subject_id, collection: Dict::Subject.all, prompt: "请选择" %>
    <%= f.input :score_id, collection: Dict::Score.all, prompt: "请选择" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% content_for :script do %>
  <script>
    $(function(){
      $("#score_category_id").on("change", function(){
        category_id = $(this).val()
        $("#wrapper_score_xueqi_id").toggle(category_id == "2")
      })
    })
  </script>
<% end %>