<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">成绩管理</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      成绩管理
      <small>
        <i class="icon-double-angle-right"></i>
        <%= link_to '添加成绩', new_student_score_path %>
      </small>
    </h1>
  </div><!-- /.page-header -->

  <% if @student_scores.blank? %>
    <div class="alert alert-block alert-success">
      <button data-dismiss="alert" class="close" type="button">
        <i class="ace-icon fa fa-times"></i>
      </button>
      <i class="ace-icon fa fa-check green"></i>
      请添加至少一项成绩，否则无法申请评优奖项
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>学年</th>
          <th>学期</th>
          <th>科目</th>
          <th>成绩</th>
          <th>平均成绩</th>
          <th>操行</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @student_scores.each do |student_score| %>
          <tr>
            <td><%= student_score.xuenian.name %></td>
            <td><%= student_score.xueqi.try(:name) %></td>
            <td><%= student_score.subject.try(:name) %></td>
            <td><%= student_score.score.name %></td>
            <td><%= student_score.pingjun_score %></td>
            <td><%= student_score.caoxing %></td>
            <td>
              <%= link_to '浏览', student_score_path(student_score) %>
              <%= link_to '编辑', edit_student_score_path(student_score) %>
              <%= link_to '删除', student_score_path(student_score), method: :delete, data: { confirm: '确认删除吗?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @student_scores %>

    </div>
  </div>
</div>


<% content_for :script do %>
  <script>
    $(function(){
      $("#student_score").addClass("active")
    })
  </script>
<% end %>