<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active"> 成绩浏览 </li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      成绩浏览
    </h1>
  </div>

  <% if notice %>
  <div class="alert alert-block alert-success">
    <button data-dismiss="alert" class="close" type="button">
      <i class="ace-icon fa fa-times"></i>
    </button>
    <i class="ace-icon fa fa-check green"></i>
    <%= notice %>
  </div>
  <% end %>


  <div class="row">
    <div class="col-xs-12">
      <dl class="dl-horizontal">
        <dt>成绩分类</dt>
        <dd><%= @student_score.category.try(:name) %></dd>
        <dt>学期</dt>
        <dd><%= @student_score.xueqi.try(:name) %></dd>
        <dt>科目</dt>
        <dd><%= @student_score.subject.try(:name) %></dd>
        <dt>成绩</dt>
        <dd><%= @student_score.score.try(:name) %></dd>
        <dt>平均成绩</dt>
        <dd><%= @student_score.pingjun_score %></dd>
        <dt>操行</dt>
        <dd><%= @student_score.caoxing %></dd>
      </dl>
    </div>
  </div>

</div>



<% content_for :script do %>
  <script>
    $(function(){
      $("#student_score").addClass("active")
    })
  </script>
<% end %>