<div class="main-container" id="main-container">
  <script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
      <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
      </script>

      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <%= link_to_icon "icon-home", '', home_path, class: "btn btn-success" %>
          <%= link_to_icon "icon-user", '', admin_home_path, class: "btn btn-info" %>
          <%= link_to_icon "icon-key", '', edit_user_registration_path, class: "btn btn-warning" %>
          <%= link_to_icon "icon-off", '', destroy_user_session_path, class: "btn btn-danger", method: :delete %>
        </div>

      </div><!-- #sidebar-shortcuts -->

      <ul class="nav nav-list">

        <% if current_user.admin? %>
          <li id="admin_home">
            <%= link_to admin_home_path do %>
              <i class="icon-user"></i>
              <span class="menu-text"> 后台管理首页 </span>
            <% end %>
          </li>

          <li id="admin_user">
            <%= link_to admin_users_path do %>
              <i class="icon-list"></i>
              <span class="menu-text"> 用户管理 </span>
            <% end %>
          </li>

          <li id="admin_news">
            <%= link_to admin_news_index_path do %>
              <i class="icon-list"></i>
              <span class="menu-text"> 公告管理 </span>
            <% end %>
          </li>

          <li id="admin_xueyuan">
            <%= link_to admin_xueyuans_path do %>
              <i class="icon-list"></i>
              <span class="menu-text"> 学院管理 </span>
            <% end %>
          </li>

          <li id="admin_zhuanye">
            <%= link_to admin_zhuanyes_path do %>
              <i class="icon-list"></i>
              <span class="menu-text"> 专业管理 </span>
            <% end %>
          </li>

          <li id="admin_application">
            <%= link_to admin_applications_path do %>
              <i class="icon-list"></i>
              <span class="menu-text"> 评优奖励管理 </span>
            <% end %>
          </li>

          <li id="admin_application_date">
            <%= link_to new_admin_application_date_path do %>
              <i class="icon-list"></i>
              <span class="menu-text"> 时间阶段管理 </span>
            <% end %>
          </li>

        <% end %>

        <% if current_user.student? %>
        <li id="student_home">
          <%= link_to student_home_path do %>
            <i class="icon-user"></i>
            <span class="menu-text"> 后台管理首页 </span>
          <% end %>
        </li>
        <li id="student_score">
          <%= link_to student_scores_path do %>
            <i class="icon-list"></i>
            <span class="menu-text"> 成绩管理 </span>
          <% end %>
        </li>
        <li id="student_reward_application">
          <%= link_to student_reward_applications_path do %>
            <i class="icon-list"></i>
            <span class="menu-text"> 评优奖励申请管理 </span>
          <% end %>
        </li>

        <% end %>

        <% if current_user.xuegongchu? %>
        <li id="xuegongchu_home">
          <%= link_to xuegongchu_home_path do %>
            <i class="icon-user"></i>
            <span class="menu-text"> 后台管理首页 </span>
          <% end %>
        </li>
        <li id="xuegongchu_reward_application">
          <%= link_to xuegongchu_reward_applications_path do %>
            <i class="icon-list"></i>
            <span class="menu-text"> 评优奖励申请管理 </span>
          <% end %>
        </li>
        <% end %>


      </ul><!-- /.nav-list -->

      <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
      </div>

      <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
      </script>
    </div>

    <div class="main-content">
      <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
          try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
          <%= yield :breadcrumb %>
        </ul><!-- .breadcrumb -->

      </div>
      <%= yield %>
    </div>


    </div>
    </div>