<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">评优奖励管理</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      评优奖励管理
      <small>
        <i class="icon-double-angle-right"></i>
        <%= link_to '评优奖励 添加', new_admin_application_path %>
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">

    <table class="table">
      <thead>
        <tr>
          <th>名称</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @applications.each do |application| %>
          <tr>
            <td><%= application.name %></td>
            <td><%= link_to '编辑', edit_admin_application_path(application) %></td>
            <td><%= link_to '删除', admin_application_path(application), method: :delete, data: { confirm: '确认删除吗?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
</div>



<% content_for :script do %>
  <script>
    $(function(){
      $("#admin_application").addClass("active")
    })
  </script>
<% end %>