<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">评优奖励管理</li>
<% end %>

<h1>评优奖励管理</h1>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= link_to '编辑', edit_admin_application_path(application) %></td>
        <td><%= link_to '删除', admin_application_path(application), method: :delete, data: { confirm: '确认删除吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '评优奖励 添加', new_admin_application_path %>

<% content_for :script do %>
  <script>
    $(function(){
      $("#admin_application").addClass("active")
    })
  </script>
<% end %>