<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">评优奖励申请管理</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      评优奖励申请 管理
      <small>
        <i class="icon-double-angle-right"></i>
        <%= link_to '申请评优奖励', new_student_reward_application_path %>
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <%= form_tag xuegongchu_reward_applications_path, method: :get, class: "form-inline" do %>
        <%= select_tag "search[created_at_gteq]", options_for_select(["2014", "2015"], params[:search].try(:[], :created_at_gteq).to_s.try(:match, /\d+/)), prompt: "选择年度" %>
        <%= select_tag "search[state_eq]", options_for_select([["已上报", "已上报"], ["已审批", "已审批"], ["已拒绝", "已拒绝"], ["已通过", "已通过"]], params[:search].try(:[], :state_eq)), prompt: "选择状态" %>
        <%= select_tag "search[xueyuan_id_eq]", options_for_select(Xueyuan.pluck(:name, :id), params[:search].try(:[], :xueyuan_id_eq)), prompt: "选择学院" %>
        <%= submit_tag "搜索", class: "btn" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

    <table class="table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>性别</th>
          <th>申请奖励</th>
          <th>状态</th>
          <th>联系方式</th>
          <th>学院</th>
          <th>申请说明</th>
          <th>获得荣誉</th>
          <th>投票数</th>
          <th>年度</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @reward_applications.each do |reward_application| %>
          <% person_info = reward_application.user.person_info %>
          <tr>
            <td><%= person_info.name %></td>
            <td><%= person_info.gender.name %></td>
            <td><%= reward_application.application.try(:name) %></td>
            <td><%= reward_application.state %></td>
            <td><%= reward_application.phone %></td>
            <td><%= reward_application.xueyuan.try(:name) %></td>
            <td><%= reward_application.content %></td>
            <td><%= reward_application.rongyu %></td>
            <td><%= reward_application.users.count %></td>
            <td><%= reward_application.created_at.to_date %></td>
            <td>
            <%= link_to '浏览', xuegongchu_reward_application_path(reward_application) %>
            <% reward_application.state_events.each do |event| %>
              <%= link_to RewardApplication.get_event_text_by(event), change_xuegongchu_reward_application_path(reward_application, shijian: event) %>
            <% end %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @reward_applications %>

    </div>
  </div>
</div>


<% content_for :script do %>
  <script>
    $(function(){
      $("#xuegongchu_reward_application").addClass("active")
    })
  </script>
<% end %>