<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">评优奖励申请浏览</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      评优奖励申请浏览
    </h1>
  </div>

  <% if notice %>
  <div class="alert alert-block alert-success">
    <button data-dismiss="alert" class="close" type="button">
      <i class="ace-icon fa fa-times"></i>
    </button>
    <i class="ace-icon fa fa-check green"></i>
    <%= notice %>
  </div>
  <% end %>


  <div class="row">
    <div class="col-xs-12">
      <dl class="dl-horizontal">
        <dt>姓名</dt>
        <dd><%= @reward_application.user.person_info.name %></dd>
        <dt>性别</dt>
        <dd><%= @reward_application.user.person_info.gender.name %></dd>
        <dt>学号</dt>
        <dd><%= @reward_application.user.person_info.xuehao %></dd>
        <dt>专业</dt>
        <dd><%= @reward_application.user.person_info.zhuanye %></dd>
        <dt>职务</dt>
        <dd><%= @reward_application.user.person_info.zhiwu %></dd>
        <dt>政治面貌</dt>
        <dd><%= @reward_application.user.person_info.political.name %></dd>
        <dt>申请奖励</dt>
        <dd><%= @reward_application.application.try(:name) %></dd>
        <dt>联系方式</dt>
        <dd><%= @reward_application.phone %></dd>
        <dt>学院</dt>
        <dd><%= @reward_application.xueyuan.name %></dd>
        <dt>申请说明</dt>
        <dd><%= @reward_application.content %></dd>
        <dt>获得荣誉</dt>
        <dd><%= @reward_application.rongyu %></dd>
        <dt>申请状态</dt>
        <dd><%= @reward_application.state %></dd>
      </dl>
    </div>
  </div>

</div>



<% content_for :script do %>
  <script>
    $(function(){
      $("#xuegongchu_reward_application").addClass("active")
    })
  </script>
<% end %>
