<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zhuanye.name %>
</p>

<p>
  <strong>Xueyuan:</strong>
  <%= @zhuanye.xueyuan_id %>
</p>

<%= link_to 'Edit', edit_zhuanye_path(@zhuanye) %> |
<%= link_to 'Back', zhuanyes_path %>
