<% content_for :breadcrumb do %>
<li>
  <i class="icon-home home-icon"></i>
  <a href="<%= home_path %>">首页</a>
</li>
<li class="active">用户管理</li>
<% end %>

<div class="page-content">
  <div class="page-header">
    <h1>
      用户管理
      <small>
        <i class="icon-double-angle-right"></i>
        <%= link_to "添加用户", new_admin_user_path %>
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <table class='table'>
        <tr>
          <th>用户名</th>
          <th>用户类型</th>
          <th>操作</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.category_text %></td>
          <td>
            <%= link_to "编辑", edit_admin_user_path(user) %>
            <%= link_to "删除", admin_user_path(user), confirm: "确认删除吗?", method: "delete" %>
          </td>
        </tr>
        <% end %>
      </table>

      <%= will_paginate @users %>

    </div>
  </div>
</div>



<% content_for :script do %>
  <script>
    $(function(){
      $("#admin_user").addClass("active")
    })
  </script>
<% end %>