<!DOCTYPE html>
<html>
<head>
  <title>评优评助系统</title>
  <%= render "/shared/head" %>
</head>
<body>
  <%= render "/shared/admin_top" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  <%= render "/shared/js" %>
</body>
</html>
